.navbar h1.logo {
	@include column(4);
	margin-left: 0;
	padding-left: $gutter-in-px;
	@include font-size($xlarge);

	a {
		color: $navbar-link-color;
		text-shadow: 0 1px 2px darken($navbar-color, 20%),
		             0 1px 0 darken($navbar-color, 20%);
	}
}

.navbar ul.menu {
	@include column(8);
	margin-left: 0;
}
